/*---------------------------------------------------------------------
                               General
-----------------------------------------------------------------------*/
*::-moz-selection { background: #f9b707; color: #fff; text-shadow: none; }
::-moz-selection { background: #f9b707; color: #fff; text-shadow: none; }
::selection { background: #f9b707; color: #fff; text-shadow: none; }
body { font-family: 'Comfortaa', cursive; font-weight: normal; position: relative; font-style: normal; font-size: 14px; line-height: 26px; color: #e3e3e3; overflow-x: hidden; background: #16181c; }
a:hover, a:focus, a.active { text-decoration: none; outline: none; }
a, a:hover, a:focus { color: #f9b707; -webkit-transition: all 250ms ease-in-out 0s; -moz-transition: all 250ms ease-in-out 0s; -ms-transition: all 250ms ease-in-out 0s; -o-transition: all 250ms ease-in-out 0s; transition: all 250ms ease-in-out 0s; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', sans-serif; font-weight: normal; color: #fff; margin-top: 0px; margin-bottom: 0px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-size: 50px; line-height: normal; }
h2 { font-size: 36px; line-height: normal; }
h3 { font-size: 32px; line-height: normal; }
h4 { font-size: 28px; line-height: normal; }
h5 { font-size: 24px; line-height: normal; }
h6 { font-size: 20px; line-height: normal; }
.lead { font-size: 18px; line-height: 32px; margin: 0; }
ul { margin: 0px; padding: 0px; }
li { list-style: none; }
hr { margin: 0; padding: 0px; border-bottom: 1px solid #e0e0e0; border-top: 0px; }
.blockquote { border-left: 5px solid #16181c; font-size: 16px; }

/*---------------------------------------------------------------------
                               Back to Top
-----------------------------------------------------------------------*/
#back-to-top .top { z-index: 999; position: fixed; margin: 0px; color: #fff; background: #121316; position: fixed; bottom: 25px; right: 25px; z-index: 999; font-size: 26px; width: 50px; height: 50px; text-align: center; line-height: 50px; border-radius: 90px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
#back-to-top .top:hover { background: #f9b707; color: #fff; -webkit-box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.1); -moz-box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.1); box-shadow: 0px 0px 30px 0px rgba(34, 34, 34, 0.1); }

/*---------------------------------------------------------------------
                                Loader
-----------------------------------------------------------------------*/
#loading { background-color: #16181c; height: 100%; width: 100%; position: fixed; margin-top: 0px; top: 0px; left: 0px; bottom: 0px; overflow: hidden !important; right: 0px; z-index: 999999; }
#loading-center { position: absolute; left: 50%; top: 50%; margin-left: -75px; margin-top: -75px; }

/*loader 2  */
.loader { position: relative; width: 150px; height: 150px; display: block; overflow: hidden; }
.loader div { height: 100%; }
.loader2, .loader2 div { border-radius: 50%; padding: 8px; border: 2px solid transparent; -webkit-animation: rotate linear 3.5s infinite; animation: rotate linear 3.5s infinite; border-top-color: rgba(249, 183, 7, 1); border-left-color: rgba(66, 66, 66, 1); border-right-color: rgba(66, 66, 66, 1); }
.loader, .loader * { will-change: transform; }
@-webkit-keyframes rotate {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  50% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes rotate {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  50% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes rotate2 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); border-top-color: rgba(0, 0, 0, 0.5); }
  50% { -webkit-transform: rotate(180deg); transform: rotate(180deg); border-top-color: rgba(0, 0, 255, 0.5); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); border-top-color: rgba(0, 0, 0, 0.5); }
}
@keyframes rotate2 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); border-top-color: rgba(0, 0, 0, 0.5); }
  50% { -webkit-transform: rotate(180deg); transform: rotate(180deg); border-top-color: rgba(0, 0, 255, 0.5); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); border-top-color: rgba(0, 0, 0, 0.5); }
}

/*----------------------------------------------------------------------
                        Buttons
-----------------------------------------------------------------------*/
.button { color: #fff; cursor: pointer; padding: 10px 30px; border: none; font-weight: 800; font-size: 16px; position: relative; background: #f9b707; font-family: 'Comfortaa', cursive; display: inline-block; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }
.button:hover, .button:focus { color: #131519; background: #fff; outline: none; }

/* Buttons white */
.button.bt-white { color: #333; background: #fff; }
.button.bt-white:hover, .button.bt-white:focus { color: #ffffff; background: #f9b707; outline: none; }

/* Buttons white 2 */
.button.bt-black { color: #333; background: #fff; }
.button.bt-black:hover, .button.bt-black:focus { color: #ffffff; background: #23292c; outline: none; }

/* Buttons Play */
.button-play { position: relative; z-index: 1; width: 65px; height: 65px; line-height: 68px; font-size: 18px; text-align: center; display: inline-block; color: #fff; background: #f9b707; border-radius: 50%; border: none; transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1); transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1); transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1); }
.button-play i { padding-left: 5px; }
.button-play:hover, .button-play:focus { box-shadow: 0 0 1px 15px rgba(249, 183, 7, 0.4), 0 0 1px 30px rgba(249, 183, 7, 0.1), 0 0 1px 45px rgba(249, 183, 7, 0.1); color: #fff; }

/*---------------------------------------------------------------------
                    Page Section Margin Padding
---------------------------------------------------------------------*/

/*----------------
Section padding
----------------*/

.overview-block-ptb { padding: 100px 0; }
.overview-block-pt { padding: 100px 0 0; }
.overview-block-pb { padding: 0 0 100px; }

/*----------------
Padding All
----------------*/
.iq-pall { padding: 0px !important; }
.iq-pall-10 { padding: 10px; }
.iq-pall-15 { padding: 15px; }
.iq-pall-20 { padding: 20px; }
.iq-pall-25 { padding: 25px; }
.iq-pall-30 { padding: 30px; }
.iq-pall-40 { padding: 40px; }
.iq-pall-50 { padding: 50px; }
.iq-pall-60 { padding: 60px; }
.iq-pall-70 { padding: 70px; }
.iq-pall-80 { padding: 80px; }
.iq-pall-90 { padding: 90px; }
.iq-pall-100 { padding: 100px; }

/*----------------
Padding Top and Bottom
----------------*/
.iq-ptb-0 { padding: 0; }
.iq-ptb-10 { padding: 10px 0; }
.iq-ptb-15 { padding: 15px 0; }
.iq-ptb-20 { padding: 20px 0; }
.iq-ptb-25 { padding: 25px 0; }
.iq-ptb-30 { padding: 30px 0; }
.iq-ptb-40 { padding: 40px 0; }
.iq-ptb-50 { padding: 50px 0; }
.iq-ptb-60 { padding: 60px 0; }
.iq-ptb-70 { padding: 70px 0; }
.iq-ptb-80 { padding: 80px 0; }
.iq-ptb-90 { padding: 90px 0; }
.iq-ptb-100 { padding: 100px 0; }

/*----------------
Padding Left and right
----------------*/
.iq-plr-0 { padding: 0; }
.iq-plr-10 { padding: 0 10px; }
.iq-plr-15 { padding: 0 15px; }
.iq-plr-20 { padding: 0 20px; }
.iq-plr-25 { padding: 0 25px; }
.iq-plr-30 { padding: 0 30px; }
.iq-plr-40 { padding: 0 40px; }
.iq-plr-50 { padding: 0 50px; }
.iq-plr-60 { padding: 0 60px; }
.iq-plr-70 { padding: 0 70px; }
.iq-plr-80 { padding: 0 80px; }
.iq-plr-90 { padding: 0 90px; }
.iq-plr-100 { padding: 0 100px; }

/*----------------
Padding top
----------------*/
.iq-pt-0 { padding-top: 0px; }
.iq-pt-10 { padding-top: 10px; }
.iq-pt-15 { padding-top: 15px; }
.iq-pt-20 { padding-top: 20px; }
.iq-pt-25 { padding-top: 25px; }
.iq-pt-30 { padding-top: 30px; }
.iq-pt-40 { padding-top: 40px; }
.iq-pt-50 { padding-top: 50px; }
.iq-pt-60 { padding-top: 60px; }
.iq-pt-70 { padding-top: 70px; }
.iq-pt-80 { padding-top: 80px; }
.iq-pt-90 { padding-top: 90px; }
.iq-pt-100 { padding-top: 100px; }

/*----------------
Padding Bottom
----------------*/
.iq-pb-0 { padding-bottom: 0px; }
.iq-pb-10 { padding-bottom: 10px; }
.iq-pb-15 { padding-bottom: 15px; }
.iq-pb-20 { padding-bottom: 20px; }
.iq-pb-25 { padding-bottom: 25px; }
.iq-pb-30 { padding-bottom: 30px; }
.iq-pb-40 { padding-bottom: 40px; }
.iq-pb-50 { padding-bottom: 50px; }
.iq-pb-60 { padding-bottom: 60px; }
.iq-pb-70 { padding-bottom: 70px; }
.iq-pb-80 { padding-bottom: 80px; }
.iq-pb-90 { padding-bottom: 90px; }
.iq-pb-100 { padding-bottom: 100px; }

/*----------------
Padding Left
----------------*/
.iq-pl-0 { padding-left: 0; }
.iq-pl-10 { padding-left: 10px; }
.iq-pl-15 { padding-left: 15px; }
.iq-pl-20 { padding-left: 20px; }
.iq-pl-25 { padding-left: 25px; }
.iq-pl-30 { padding-left: 30px; }
.iq-pl-40 { padding-left: 40px; }
.iq-pl-50 { padding-left: 50px; }
.iq-pl-60 { padding-left: 60px; }
.iq-pl-70 { padding-left: 70px; }
.iq-pl-80 { padding-left: 80px; }
.iq-pl-90 { padding-left: 90px; }
.iq-pl-100 { padding-left: 100px; }

/*----------------
Padding Right
----------------*/
.iq-pr-0 { padding-right: 0px; }
.iq-pr-10 { padding-right: 10px; }
.iq-pr-15 { padding-right: 15px; }
.iq-pr-20 { padding-right: 20px; }
.iq-pr-25 { padding-right: 25px; }
.iq-pr-30 { padding-right: 30px; }
.iq-pr-40 { padding-right: 40px; }
.iq-pr-50 { padding-right: 50px; }
.iq-pr-60 { padding-right: 60px; }
.iq-pr-70 { padding-right: 70px; }
.iq-pr-80 { padding-right: 80px; }
.iq-pr-90 { padding-right: 90px; }
.iq-pr-100 { padding-right: 100px; }

/*----------------
Margin All
----------------*/
.iq-mall-0 { margin: 0; }
.iq-mall-10 { margin: 10px; }
.iq-mall-15 { margin: 15px; }
.iq-mall-20 { margin: 20px; }
.iq-mall-25 { margin: 25px; }
.iq-mall-30 { margin: 30px; }
.iq-mall-40 { margin: 40px; }
.iq-mall-50 { margin: 50px; }
.iq-mall-60 { margin: 60px; }
.iq-mall-70 { margin: 70px; }
.iq-mall-80 { margin: 80px; }
.iq-mall-90 { margin: 90px; }
.iq-mall-100 { margin: 100px; }

/*----------------
Margin Top and Bottom
----------------*/
.iq-mtb-0 { margin: 0; }
.iq-mtb-10 { margin: 10px 0; }
.iq-mtb-15 { margin: 15px 0; }
.iq-mtb-20 { margin: 20px 0; }
.iq-mtb-25 { margin: 25px 0; }
.iq-mtb-30 { margin: 30px 0; }
.iq-mtb-40 { margin: 40px 0; }
.iq-mtb-50 { margin: 50px 0; }
.iq-mtb-60 { margin: 60px 0; }
.iq-mtb-70 { margin: 70px 0; }
.iq-mtb-80 { margin: 80px 0; }
.iq-mtb-90 { margin: 90px 0; }
.iq-mtb-100 { margin: 100px 0; }

/*----------------
Margin Left and Right
----------------*/
.iq-mlr-0 { margin: 0 !important; }
.iq-mlr-10 { margin: 0 10px; }
.iq-mlr-15 { margin: 0 15px; }
.iq-mlr-20 { margin: 0 20px; }
.iq-mlr-25 { margin: 0 25px; }
.iq-mlr-30 { margin: 0 30px; }
.iq-mlr-40 { margin: 0 40px; }
.iq-mlr-50 { margin: 0 50px; }
.iq-mlr-60 { margin: 0 60px; }
.iq-mlr-70 { margin: 0 60px; }
.iq-mlr-80 { margin: 0 80px; }
.iq-mlr-90 { margin: 0 80px; }
.iq-mlr-100 { margin: 0 100px; }

/*----------------
Margin Top
----------------*/
.iq-mt-0 { margin-top: 0px; }
.iq-mt-5 { margin-top: 5px; }
.iq-mt-10 { margin-top: 10px; }
.iq-mt-15 { margin-top: 15px; }
.iq-mt-20 { margin-top: 20px; }
.iq-mt-25 { margin-top: 25px; }
.iq-mt-30 { margin-top: 30px; }
.iq-mt-40 { margin-top: 40px; }
.iq-mt-50 { margin-top: 50px; }
.iq-mt-60 { margin-top: 60px; }
.iq-mt-70 { margin-top: 70px; }
.iq-mt-80 { margin-top: 80px; }
.iq-mt-90 { margin-top: 90px; }
.iq-mt-100 { margin-top: 100px; }

/*----------------
Margin Bottom
----------------*/
.iq-mb-0 { margin-bottom: 0px; }
.iq-mb-10 { margin-bottom: 10px; }
.iq-mb-15 { margin-bottom: 15px; }
.iq-mb-20 { margin-bottom: 20px; }
.iq-mb-25 { margin-bottom: 25px; }
.iq-mb-30 { margin-bottom: 30px; }
.iq-mb-40 { margin-bottom: 40px; }
.iq-mb-50 { margin-bottom: 50px; }
.iq-mb-60 { margin-bottom: 60px; }
.iq-mb-70 { margin-bottom: 70px; }
.iq-mb-80 { margin-bottom: 80px; }
.iq-mb-90 { margin-bottom: 90px; }
.iq-mb-100 { margin-bottom: 100px; }

/*----------------
Margin Left
----------------*/
.iq-ml-0 { margin-left: 0px; }
.iq-ml-10 { margin-left: 10px; }
.iq-ml-15 { margin-left: 15px; }
.iq-ml-20 { margin-left: 20px; }
.iq-ml-25 { margin-left: 25px; }
.iq-ml-30 { margin-left: 30px; }
.iq-ml-40 { margin-left: 40px; }
.iq-ml-50 { margin-left: 50px; }
.iq-ml-60 { margin-left: 60px; }
.iq-ml-70 { margin-left: 70px; }
.iq-ml-80 { margin-left: 80px; }
.iq-ml-90 { margin-left: 90px; }
.iq-ml-100 { margin-left: 100px; }

/*----------------
Margin Right
----------------*/
.iq-mr-0 { margin-right: 0px; }
.iq-mr-10 { margin-right: 10px; }
.iq-mr-15 { margin-right: 15px; }
.iq-mr-20 { margin-right: 20px; }
.iq-mr-25 { margin-right: 25px; }
.iq-mr-30 { margin-right: 30px; }
.iq-mr-40 { margin-right: 40px; }
.iq-mr-50 { margin-right: 50px; }
.iq-mr-60 { margin-right: 60px; }
.iq-mr-70 { margin-right: 70px; }
.iq-mr-80 { margin-right: 80px; }
.iq-mr-90 { margin-right: 90px; }
.iq-mr-100 { margin-right: 100px; }

/*---------------------------------------------------------------------
                            Text Weight
-----------------------------------------------------------------------*/
.iq-tw-1 { font-weight: 100; }
.iq-tw-2 { font-weight: 200; }
.iq-tw-3 { font-weight: 300; }
.iq-tw-4 { font-weight: 400; }
.iq-tw-5 { font-weight: 500; }
.iq-tw-6 { font-weight: 600; }
.iq-tw-7 { font-weight: 700; }
.iq-tw-8 { font-weight: 800; }
.iq-tw-9 { font-weight: 900; }

/*---------------------------------------------------------------------
                            Text Color
-----------------------------------------------------------------------*/
.iq-font-blue { color: #16181c; }
.iq-font-white { color: #ffffff; }
.iq-font-black { color: #23292c; }
.iq-font-light { color: #666666; }
.iq-font-yellow { color: #f9b707; }

/*---------------------------------------------------------------------
                            Font Size
-----------------------------------------------------------------------*/
.iq-font-15 { font-size: 15px; }
.iq-font-30 { font-size: 30px; }

/*---------------------------------------------------------------------
                          Background Color
-----------------------------------------------------------------------*/
.white-bg { background: #ffffff; }
.grey-bg { background: #f7f7f7; }
.blue-bg { background: #16181c; }
.light-bg { background: #131519; }
.yellow-bg { background: #f9b707; }

/*---------------------------------------------------------------------
                             BG Effect
-----------------------------------------------------------------------*/
.iq-parallax { position: relative; background-size: cover !important; -webkit-background-size: cover !important; -moz-background-size: cover !important; -ms-background-size: cover !important; background-origin: initial; background-position: center center !important; background-repeat: no-repeat; }

/*---------------------------------------------------------------------
                       Background Gradient
---------------------------------------------------------------------*/
.iq-bg-over { position: relative; }

/* Background Gradient blue */
.iq-over-blue-10:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(5, 7, 28, 0.1); }
.iq-over-blue-20:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(5, 7, 28, 0.2); }
.iq-over-blue-30:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(5, 7, 28, 0.3); }
.iq-over-blue-40:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(5, 7, 28, 0.4); }
.iq-over-blue-50:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(5, 7, 28, 0.5); }
.iq-over-blue-60:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(5, 7, 28, 0.6); }
.iq-over-blue-70:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(5, 7, 28, 0.7); }
.iq-over-blue-80:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(5, 7, 28, 0.8); }
.iq-over-blue-85:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(5, 7, 28, 0.85); }
.iq-over-blue-90:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(5, 7, 28, 0.9); }
.iq-over-blue-95:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(5, 7, 28, 0.95); }

/* Background Gradient Black */
.iq-over-black-10:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.1); }
.iq-over-black-20:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.2); }
.iq-over-black-30:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.3); }
.iq-over-black-40:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.4); }
.iq-over-black-50:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.5); }
.iq-over-black-60:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.6); }
.iq-over-black-70:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.7); }
.iq-over-black-80:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.8); }
.iq-over-black-85:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.85); }
.iq-over-black-90:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.9); }
.iq-over-black-95:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(0, 0, 0, 0.95); }

/* Background Gradient White */
.iq-over-white-10:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(255, 255, 255, 0.1); }
.iq-over-white-20:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(255, 255, 255, 0.2); }
.iq-over-white-30:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(255, 255, 255, 0.3); }
.iq-over-white-40:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(255, 255, 255, 0.4); }
.iq-over-white-50:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(255, 255, 255, 0.5); }
.iq-over-white-60:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(255, 255, 255, 0.6); }
.iq-over-white-70:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(255, 255, 255, 0.7); }
.iq-over-white-80:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(255, 255, 255, 0.8); }
.iq-over-white-85:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(255, 255, 255, 0.85); }
.iq-over-white-90:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(255, 255, 255, 0.9); }
.iq-over-white-95:before { content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: -1; background: rgba(255, 255, 255, 0.95); }
[class*='iq-over-']:before { z-index: 0; }

/*---------------------------------------------------------------------
                           Section Title
-----------------------------------------------------------------------*/
.heading-title { margin-bottom: 60px; text-align: center; }
.heading-title small { font-weight: 400; font-size: 16px; text-transform: uppercase; font-family: 'Montserrat', sans-serif; letter-spacing: 4px; }
.heading-title.left { text-align: left; margin-bottom: 20px; }
.heading-title .title { position: relative; padding-bottom: 15px; display: inline-block; width: 100%; }
.heading-title p { padding: 0 100px; display: block; }
.heading-title .title.white:before { background: #ffffff; }

/*Heading Left*/
.heading-left .title { position: relative; padding: 0 0 8px 0; margin: 0 0 20px 0; }
.heading-left .title:before { position: absolute; content: ""; left: 0; width: 50px; height: 3px; background: #f9b707; bottom: 0; }
.small-title { position: relative; padding-bottom: 10px; margin-bottom: 15px }
.small-title:before { content: ""; position: absolute; bottom: 0; left: 0; width: 40px; height: 4px; background: #f9b707; display: inline-block; }
#canvas1 { position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: -1; }

/*---------------------------------------------------------------------
                           Section Title2
-----------------------------------------------------------------------*/
.heading-title2 { margin-bottom: 20px; text-align: center; }
.heading-title2 small { font-weight: 400; font-size: 16px; text-transform: uppercase; font-family: 'Montserrat', sans-serif; letter-spacing: 4px; }
.heading-title2.left { text-align: left; margin-bottom: 20px; }
.heading-title2 .title { position: relative; padding-bottom: 15px; display: inline-block; width: 100%; }
.heading-title2 p { padding: 0 100px; display: block; }
.heading-title2 .title.white:before { background: #ffffff; }

/*Heading Left*/
.heading-left .title { position: relative; padding: 0 0 8px 0; margin: 0 0 20px 0; }
.heading-left .title:before { position: absolute; content: ""; left: 0; width: 50px; height: 3px; background: #f9b707; bottom: 0; }
.small-title { position: relative; padding-bottom: 10px; margin-bottom: 15px }
.small-title:before { content: ""; position: absolute; bottom: 0; left: 0; width: 40px; height: 4px; background: #f9b707; display: inline-block; }
#canvas1 { position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: -1; }

/*---------------------------------------------------------------------
                              Header
---------------------------------------------------------------------*/
header { padding: 20px 80px; position: absolute; display: inline-block; top: 0; left: 0; width: 100%; -webkit-transition: all 250ms ease-in-out 0s; -moz-transition: all 250ms ease-in-out 0s; -ms-transition: all 250ms ease-in-out 0s; -o-transition: all 250ms ease-in-out 0s; transition: all 250ms ease-in-out 0s; z-index: 9999; }
header .navbar { padding: 0; }
header .navbar-brand img { height: 40px; }
header .navbar-light .nav-item { margin: 0 10px; }
header .navbar-light .nav-item .nav-link { color: #fff; font-size: 16px; line-height: normal; position: relative; -webkit-transition: all 250ms ease-in-out 0s; -moz-transition: all 250ms ease-in-out 0s; -ms-transition: all 250ms ease-in-out 0s; -o-transition: all 250ms ease-in-out 0s; transition: all 250ms ease-in-out 0s; }
header .navbar-light .navbar-nav .nav-link:before { content: ""; display: inline-block; position: absolute; bottom: -3px; left: 50%; margin-left: -3px; background: #f9b707; height: 6px; width: 6px; border-radius: 90px; opacity: 0; -webkit-transition: all 250ms ease-in-out 0s; -moz-transition: all 250ms ease-in-out 0s; -ms-transition: all 250ms ease-in-out 0s; -o-transition: all 250ms ease-in-out 0s; transition: all 250ms ease-in-out 0s; }
header .navbar-light .navbar-nav .nav-link:hover, header .navbar-light .navbar-nav .nav-link:focus, header .navbar-light .navbar-nav .nav-item .nav-link.active { color: #f9b707; }
header .navbar-light .navbar-nav .nav-link:hover:before, .navbar-light .navbar-nav .nav-link:focus:before, .navbar-light .navbar-nav .nav-item .nav-link.active:before { opacity: 1; }
header .navbar-light .nav { position: relative; }
header .navbar-light .nav:before { content: ""; position: absolute; top: 5px; left: 5px; height: 25px; width: 1px; display: inline-block; background: #c7c7c7; }
header .navbar-light .nav .button:hover, header .navbar-light .nav .button:focus { color: #131519; }
header.menu-sticky { position: fixed; background: #131519; padding: 10px 30px; box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.1); }
.dropdown-item.active, .dropdown-item:active { background: #f9b707; }

/*Login*/
.iq-login .modal-header { padding: 20px 30px; }
.iq-login .modal-body { padding: 30px; }
.iq-login .modal-footer { padding: 20px 30px; display: inline; }
.iq-login .form-control { border: 1px solid #ced4da; border-radius: 0; height: 45px !important; box-shadow: none; }
.iq-login .modal-body .button { width: 100%; text-align: center; }
.iq-login .modal-dialog { max-width: 400px; }
.iq-login .modal-footer .iq-media-blog { margin: 0; padding: 0; }
.iq-login .modal-footer .iq-media-blog li { display: inline-block; list-style: none; padding: 0; margin: 0px 4px; }
.iq-login .modal-footer .iq-media-blog li a { display: block; width: 40px; height: 40px; line-height: 40px; font-size: 16px; color: #f9b707; background: transparent; border: 1px solid #f9b707; text-align: center; border-radius: 50%; }
.iq-login .modal-footer .iq-media-blog li a:hover { background: #f9b707; border-color: #f9b707; color: #fff; }
.iq-login .modal-header .close { outline: none; }

/*---------------------------------------------------------------------
                              Banner
---------------------------------------------------------------------*/
.iq-banner { position: relative; padding: 15% 0 6%; }
.iq-banner:before { position: absolute; top: 0%; left: 0%; content: ""; width: 100%; z-index: 999; height: 100%; display: inline-block; background-image: url('../assets/images/sfondo.png'); }
.banner-info { position: relative; z-index: 999; }
.iq-banner .iq-countdown { background: #131519; border-radius: 30px; padding: 40px 40px; position: relative; }
.iq-banner .wave-position {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.iq-banner .wave-position canvas {
  width: 100% !important;
  height: 100% !important;
}
.iq-countdown #countdown { list-style: none; margin: 40px 0; padding: 0; display: inline-block; width: 100%; }
.iq-countdown #countdown li { display: inline-block; padding: 0 20px; position: relative; }
.iq-countdown #countdown li:before { content: ""; position: absolute; top: 0; right: 0; width: 1px; height: 100%; display: inline-block; background: rgba(255, 255, 255, 0.1); }
.iq-countdown #countdown li:first-child { padding-left: 0; }
.iq-countdown #countdown li:last-child { padding-right: 0; }
.iq-countdown #countdown li:last-child:before { display: none; }
.iq-countdown #countdown li span { font-size: 44px; line-height: normal; font-weight: 700; color: #fff; }
.iq-countdown #countdown li p { font-size: 14px; font-weight: 700; color: #fff; margin-bottom: 0; }
.iq-banner  .iq-countdown .list-inline { margin-top: 15px; }
.iq-banner .iq-countdown .list-inline li a { color: #fff; font-size: 18px; margin: 0 5px; }
.iq-banner .iq-countdown .list-inline li a:hover { color: #f9b707; }
.iq-progress-bar-text { margin-bottom: 10px; }
.iq-progress-bar-text span { float: right }
.iq-progress-bar { background: #fff none repeat scroll 0 0; box-shadow: 0 0 0; height: 15px; margin: 0 0 30px; position: relative; width: 100%; border-radius: 90px; }
.iq-progress-bar > span { background: #f9b707 none repeat scroll 0 0; display: block; height: 100%; width: 0; border-radius: 90px; }


/*---------------------------------------------------------------------
                             Tranding Platform
-----------------------------------------------------------------------*/
.iq-tranding-Platform .nav-tabs { border: none; }
.iq-tranding-Platform .nav-tabs .nav-link:first-child { -webkit-border-top-left-radius: 30px; -moz-border-radius-topleft: 30px; border-top-left-radius: 30px; }
.iq-tranding-Platform .nav-tabs .nav-link:last-child { -webkit-border-top-right-radius: 30px; -moz-border-radius-topright: 30px; border-top-right-radius: 30px; }
.iq-tranding-Platform .nav-tabs .nav-link { padding: 15px 20px; text-align: center; width: 20%; color: #fff; border: none; background: #101114; position: relative; }
.iq-tranding-Platform .nav-tabs .nav-link:hover:before, .iq-tranding-Platform .nav-tabs .nav-link.active:before, .iq-tranding-Platform .nav-tabs .nav-item.show .nav-link { content: ""; bottom: 0; left: 0; display: inline-block; position: absolute; height: 2px; width: 100%; background: #f9b707; }
.iq-tranding-Platform .nav-tabs .nav-link i { font-size: 42px; margin-bottom: 5px; }
.iq-tranding-Platform .nav-tabs .nav-link span { display: block; font-size: 16px; }
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus { background: #131519; border: none; color: #f9b707; }
.iq-tranding-Platform .light-bg { -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
.iq-tranding-Platform .tab-content { padding: 15px; }
.table-bordered td, .table-bordered th { border: 1px solid #292c34; }
#chartrounddiv { width: 100%; height: 500px; font-size: 11px; }

#chartnew { width: 100%; height: 500px; }

.amcharts-pie-slice { transform: scale(1); transform-origin: 50% 50%; transition-duration: 0.3s; transition: all .3s ease-out; -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -o-transition: all .3s ease-out; cursor: pointer; box-shadow: 0 0 30px 0 #fff; }
.amcharts-pie-slice:hover { transform: scale(1.1); filter: url(style.css); }





.blinking {
  -webkit-animation: 2s blink ease infinite;
  -moz-animation: 2s blink ease infinite;
  -ms-animation: 2s blink ease infinite;
  -o-animation: 2s blink ease infinite;
  animation: 2s blink ease infinite;

}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-ms-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* -------------  SOCIAL ----------------- */

.instagram {
  background: url("../assets/svg/instagram.svg") no-repeat;
  background-size: 16px 13px;
  background-position: center;
}

.telegram {
  background: url("../assets/svg/telegram.svg") no-repeat;
  background-size: 16px 13px;
  background-position: center;
}

.tiktok {
  background: url("../assets/svg/tic-toc.svg") no-repeat;
  background-size: 16px 13px;
  background-position: center;
}

.twitter {
  background: url("../assets/svg/twitter.svg") no-repeat;
  background-size: 16px 13px;
  background-position: center;
}

.menu {
  background: url("../assets/svg/menu.svg") no-repeat;
  background-size: 16px 13px;
  background-position: center;
}

/* -------------  MYCONTAINER ----------------- */

.mycontainer1 {
  background-color: #16181c;
  border: 2px solid #c29436;
  padding: 37px 67px 36px 68px;
  border-radius: 40px;
  min-height: 380px;
  max-width: 836px;
  margin: 0 auto;
}

.mycontainer2 {
  background-color: #16181c;
  border: 2px solid #c29436;
  padding: 37px 32px 37px 32px;
  border-radius: 40px;
  max-width: 436px;
  margin: 0 auto;
}

.mycontainer3 {
  border: 2px solid #c29436;
  background-color: #16181c;
  padding: 20px 20px;
  border-radius: 40px;
  
  margin: 0 auto;
}

.mycontainer4 {
  border: 2px solid #c29436;
  padding: 20px 20px;
  border-radius: 40px;
  min-height: 205px;
  max-width: 836px;
  margin: 0 auto;
}

/* ------------- MYBUTTON ----------------- */

.btn-copy{
  width: 24px;
  height: 24px;
  position: relative;
  background: transparent;
  border: none;
  color: white;
}

.btn-copy::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/copy.png');
  background-position: top center;
  background-repeat: no-repeat;
}
.btn-copy:hover::after{
  filter: none;
  transition: .2s;
}
.btn-copy:active::after{
  filter: brightness(.9);
}

.btnprimary {
  background-color: #16181c;
  color: #FFF;
  border: 1px solid #c29436;
  box-sizing: border-box;
  border-radius: 30px;
  width: 130px;
  height: 45px;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.btnprimary:hover {
  background-color: #c29436;
  color: #000;
  background-image: linear-gradient(315deg, #8A6E2F 0%, #FDB931 74%);
}

.btnprimary span {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  color: #ffffff;
  text-align: center;
  display: block;
}

.btn-secondary {
  /* background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%); */
  background-color: #16181c;
  border: none;
  border: 1px solid #c29436;
  border-radius: 30px;
  width: 240px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #c29436;
  color: #000;
  background-image: linear-gradient(315deg, #8A6E2F 0%, #FDB931 74%);
}

.btn-terzo {
  background: #c29436;
  border-radius: 30px;
  width: 130px;
  height: 50px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: normal;
  color: #ffffff;
}

.btn-terzo:hover {
  background-color: #c29436;
  background-image: linear-gradient(315deg, #8A6E2F 0%, #FDB931 74%);
}

.btn-special {
  background-color: #fff;
  border: 1px solid #c29436;
  border-radius: 30px;
  width: 130px;
  height: 50px;
  border: 2px solid #000;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: normal;
  color: #000;
}

.btn-special:hover {
  border: 1px solid #c29436;
  background-color: #16181c;
  color: #fff;
}

.btn-secondary a {
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  color: #ffffff;
}

.amount-field {
  background: transparent;
  color: #fff;
  border: 1px solid #c29436;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  position: relative;
  user-select: text;
  cursor: auto;
  -webkit-appearance: textfield;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
}

.amount-field input{
  padding: 14px 55px 14px 20px;
  width: 100%;

}

.amount-field-button {
  /* content: "Max"; */
  background: transparent;
  border: none;
  z-index: 5;
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  color: #c29436;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.amount-input {
  /* max-width: 116px; */
  color: #fff;
  background-color: transparent;
  border: none;
}

hr {
  border: 0;
  height: 1px;
  border-radius: 100%;
  background-image: linear-gradient(266.61deg, #16181c -1.47%, #c29436 46.7%, #16181c 99.87%);
}

.title-header {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

span.title-copy{
  position: absolute;
  color: #c29436;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translate(0, 80%);
  font-weight: 500;
}

.title-footer-dashboard {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  position: relative;
  line-height: 24px;
}

.title-footer-dashboard span {
  font-weight: bold;
  margin-left: 5px;
}

input {
  font-family: "Montserrat";
  background: transparent;
  color: #fff;
  font-weight: bold;
  border: none;
}

.main-container-center {
  background: #ffffff;
  border-radius: 30px;
  height: auto;
  min-height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}

.faq-block {
  padding: 17px 25px 36px 69px;
}

.wrapper-dark {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  display: none;
  transition: 0.3s;
}
.container-faq {
  display: none;
  transition: 0.3s;
}

.active-faq {
  display: block;
  transition: 0.3s;
}

.title-window {
  font-weight: bold;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.window-header {
  margin: 0 auto;
}

.title-faq-item {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  /* text-transform: uppercase; */
  color: #000000;
}

.item-faq {
  padding: 30px 0 30px 0;
  position: relative;
}

.header-item-faq {
  position: relative;
  padding-right: 43px;
}

.container-info-faq {
  padding-top: 30px;
  display: none;
}

.container-info-faq p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: normal;
  color: #303030;
  margin-bottom: 15px;
  padding-right: 50px;
}

.container-info-faq p:last-child {
  margin-bottom: 0;
}

.item-faq::after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  background: linear-gradient(266.61deg, #ffffff -1.47%, #c29436 100%, #ffffff 100%);
}

.item-faq:last-child::after {
  display: none;
}

.close-faq-item {
  box-sizing: border-box;
  border-radius: 30px;
  width: 43px;
  height: 43px;
  background: url("../assets/svg/btn_arrow.svg") no-repeat;
  border: none;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.active-btn-faq {
  transform: translateY(-50%) rotate(180deg);
  transition: 0.3s;
}

.close-window {
  position: absolute;
  width: 43px;
  height: 43px;
  background: url("../assets/svg/X.svg") no-repeat;
  background-size: contain;
  box-sizing: border-box;
  border-radius: 100%;
  border: none;
  top: -50px;
  right: -50px;
}

.close-window:hover {
  opacity: 0.5;
}
.active-bg {
  display: block;
}

.Mcontainer{
  margin-left: 12%;
  margin-right: 12%;
}

.mycontainerSpe{
  background-color: #16181c;
  border: 2px solid #c29436;
  padding: 37px 67px 36px 68px;
  border-radius: 40px;
  margin: 0 auto;  
}

.navbar-toggler{
  border: 1px solid #c29436;
}

.navbar-toggler-icon{
  color: #c29436;
}
/* #chart_wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 650px;
  min-height: 450px;
} */